.article-container{
    width: 60%;
    margin-left: 20%;
    .second_line{
        display: block;
        margin-top: 10px;
        margin-bottom: 20px;
        padding-top: 10px;
        .article_date, .article_auteur{
            padding: 0;
            margin-right: 2%;
        }
    }
        
    
}
.comment_title_section{
    margin-top: 2%;
}