<div class="sub_header">
    <button class="purple_btn create_btn" routerLink="/article/create" routerLinkActive="active-item">Créer un article</button>
    <a class="trier_par" href="javascript:void(0);">
       Trier par  <mat-icon aria-hidden="false" aria-label="Example home icon"   fontIcon="{{ isAscending ? 'north' : 'south' }}"></mat-icon>
    </a>
</div>

<section class="feed feed_articles">
        <app-article *ngFor="let article of articles" [article]="article" routerLink="/article/detail/:id" routerLinkActive="active-item"></app-article>
</section>

