@import '../../../styles/styles';

    .sub_header{
        margin-bottom:0;
        .create_btn{
            float: left;
            margin-left: 5%;
        }
        .trier_par {
            text-decoration: none;
            color: black;
            font-weight: bold;
            float: right;
            margin-right: 5%;
         }
    }

   




