<div class="header-container">
    <img src="./assets/images/logo_p6_mini.png" alt="MDD Logo" class="logo ">
     <ul class="header_nav_ul header_item">
        <li class="nav_item_li header_item"><a href="">Articles</a></li>
        <li class="nav_item_li header_item"><a href="">Thèmes</a></li>
        <li class="nav_item_li header_item">
            <a class="user_icon" href="">
                <img src="./assets/images/icon_user_full.png" alt="Ellipse" class="user_icon_img user_icon">
            </a>
        </li>
     </ul>
  </div>
