.header-container {
    display: flex; /* Utilisez flex au lieu de inline-flexbox */
    justify-content: space-between; /* Sépare les éléments entre les deux extrémités */
    align-items: center; /* Centre les éléments verticalement */
    top: 0; /* Assurez-vous que l'en-tête reste en haut lors du défilement */
    width: 100%; 
  background-color: rgba(183, 19, 253, 0.03);
  
.logo {
    flex-shrink: 0; /* Empêche le logo de se rétrécir */
}
.header_nav_ul {
    display: flex; /* Utilisez flex pour les éléments de navigation */
    justify-content: flex-end; /* Alignez les éléments de navigation à droite */
    align-items: center; /* Centre les éléments verticalement */
    list-style-type: none; /* Supprime les puces */
    margin: 0; /* Supprime la marge par défaut */
    padding: 0; /* Supprime le padding par défaut */
}

.nav_item_li {
    margin-left: 20px; /* Espace entre les éléments de navigation */
}

.user_icon {
    display: flex; /* Pour s'assurer que l'icône de l'utilisateur est correctement alignée */
    align-items: center;
}
}
