@import '../../../styles/styles';

.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    form{
      h3{
        text-align: center;
        font-weight: bold;
      }
      .purple_btn{
        margin-bottom: 10px;
      }
      .form-group .label_red{
          padding-left: 50px;
          padding-right: 50px;
          width: 100%;
          color: red;
          font-weight: bold;
          text-align: center;
          background-color: transparent;
        }
    }
    .abonnements_h3{
      min-width: 200px;
      max-width: 90%;
      font-size:x-large;
      text-align: center;
      font-weight: bold;
      margin-top: 25px;
    } 
  }

  

