.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
    .logo {
      margin-bottom: 20px;
    }
  
    .form-group {
      width: 100%;
      max-width: 250px; // Set a max-width for larger screens
      margin-bottom: 15px;
  
      label {
        display: block;
        margin-bottom: 5px;
        font-weight:normal;
      }
  
      input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }
  
    button {
      width: 100%;
      max-width: 250px; // Set a max-width for button as well
      padding: 10px 0;
      border: none;
      border-radius: 8px;
      background-color: #7763C5;
      color: white;
      font-weight: bold;
      cursor: pointer;
      text-transform: uppercase; // Optional: make the text uppercase for consistency
      
      &:hover {
        background-color: #6653a5; // A darker shade when hovering
      }
    }
  }