/* You can add global styles to this file, and also import other style files */
@import './mixins';
$primary_color:#7763C5;
$primary_color_darken:#6653a5;
$mobileLimitSize: 768px;
$largeScreenLimitSize: 1920px;

html, body { height: 100%; }
body { 
  padding: 0; 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; }

.error_msg{
  color: red;
  font-weight: bold;
}

.form_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 0;
  *{
    z-index: 1;
  }
}
form{
  min-width: 200px;
  max-width: 90%;
  padding: 0;
  margin: 0;
  h3{
    font-size:x-large;
    text-align: center;
    margin-bottom: 25px;
  }
}
.form-group {
  width: 100%;
  max-width: 250px; // Set a max-width for larger screens
  margin-bottom: 10px;
  label {
    display: block;
    margin-bottom: 3px;
    font-weight:normal;
  }
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

button:not(.send) {
    padding: 10px 0;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    max-width: 250px; 
    &.purple_btn {
        background-color: $primary_color;
        color: white;
        &:hover {
        background-color: $primary_color_darken; // A darker shade when hovering
        }
  }
}
.feed_articles{
  clear: both;
  margin-top: 20px;
  // Media query pour les appareils en orientation portrait
  @media (orientation: portrait) {
    margin-top: 40px;
  }
}
.feed {
 
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Crée une grille avec deux colonnes de taille égale */
  grid-gap: 10px; /* Espace entre les colonnes et les lignes */
  padding: 20px; /* Padding autour de la grille */

  // Media query pour les appareils en orientation portrait
  @media (orientation: portrait) {
    grid-template-columns: 1fr; /* En mode portrait, utilise une seule colonne */
    padding-top: 20px;
  }
}

app-theme, app-article {
  width: 100%; /* Les enfants prennent toute la largeur de la colonne */
}

.sep{
  width: 90%;
  border-top: 2px solid black !important;
  color: #000 !important;
  margin: 20px 0 !important;
}