.center {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.buttons_container{
  width: 50%;
  display: inline;
  button{
    &:first{
      float: left;
    }
    &:nth-of-type(2){
      float: right;
    }
    
  }
}


